 <jqxChart 
    [width]="850" [height]="500"
    [title]="'Fitness & exercise weekly scorecard'"
    [description]="'Time spent in vigorous exercise'"
    [showLegend]="true" [enableAnimations]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
</jqxChart> 

<jqxChart 
[width]="850" [height]="500"
[title]="'Fitness & exercise weekly scorecard'"
[description]="'Time spent in vigorous exercise'"
[showLegend]="true" [enableAnimations]="true" [padding]="padding"
[titlePadding]="titlePadding" [source]="addressData.SALESAMT" [xAxis]="xAxis"
[seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
</jqxChart> 


  <h1>SALESMAN</h1>
<div *ngFor="let addressDetail of addressData.data">
        {{addressData.data[0] | json}} 
  <br>  
 <h4>Salesman ID:  {{addressDetail.SAL_NAME_ID}} </h4>   
 <h4>Salesman Name:  {{addressDetail.SALESMAN}} </h4>  
 <h4>Salesman Amount: {{addressDetail.SALESAMT}} </h4>  
 <br>
 
    

</div>

